[Unit]
Description=Kentik Proxy Aggent to act as a Netflow tarket and sends combined kflow to Kentik Data Engine over SSL VPN Tunnel
Documentation=https://github.com/cyamato/chfagent-systemd

[Service]
Type=simple
ExecStart=/usr/bin/chfagent -api_email=${chfagent_email} -api_token=${chfagent_token} -type=proxy -host=${chfagent_ip} -syslog
Restart=on-failure
RestartSec=60
OnFailure=chfagent-failure@%n.service

[Install]
WantedBy=multi-user.target